/* Button for hero */
.button {
  display: inline-block;
  padding: 0.5px 13px;
  border-radius: 4px;
  border: 1px solid #fff;
  width: 190px;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  color: #fff;
  font-size: 1.5rem;
  position: relative;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -400%);
  border-color: #fff;
  background: transparent;
  transition: all 200ms;
}

/* Add a rollover background colour but keep the text white */
.button:hover,
.button:focus,
.button:active {
  background: rgba(0,0,0,0.5);
  color: #4091f9;
  transition: all 300ms ease-in-out;
  text-decoration: none;
}

/* Button for hero, version 2 */
.button2 {
  display: inline-block;
  padding: 0.5px 13px;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  width: 190px;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  color: #e6e6e6 !important;
  font-size: 1.5rem;
  position: relative;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  border-color: #cfcfcf !important;
  background: rgba(0,0,0,0.7);
  transition: all 200ms;
}

.button2:hover,
.button2:focus,
.button2:active {
  background: rgba(0,0,0,0.7);
  color: #4091f9 !important;
  transition: all 300ms ease-in-out;
  text-decoration: none;
}

/* Button for hero, version 3 */
.button3 {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  width: auto;
  text-transform: uppercase;
  background: rgb(0,0,0,0.7);
  color: #e6e6e6 !important;
  font-size: 2rem;
  position: relative;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -30%);
  border-color: #e6e6e6;
  transition: all 200ms;
}

.button3:hover,
.button3:focus,
.button3:active {
  background: rgb(0,0,0,0.7);
  color: #e6e6e6 !important;
  transition: all 300ms ease-in-out;
  text-decoration: none;
}

/* Project cards */

.card .card-text p {
  color: rgba(0,0,0,0.9);
  font-size: 0.75rem;
}

.card .card-image.hover-overlay:after {
  content: "";
}

/* Main Font */
html {
  color: rgba(0,0,0,0.7) !important;
}

@media screen and (max-width: 1200px) { /* Match max-width of .nav-bar query. */
  body {
    margin-top: 51px; /* Offset body content by navbar height. */
    min-height: 51px !important;
  }
}

/* Navigation bar */
.navbar {
  min-height: 51px !important;
  height: 51px;
}

/* Reduce size of figure captions and lighten the color */
figcaption {
  display: block;
  margin-top: 0.75em;
  line-height: 1.25;
  font-size: 0.9rem;
  margin-bottom: 1.65rem;
/*   font-family: lato; */
  color: rgba(0,0,0,0.5);
}

figcaption.numbered:before {
  font-weight: 700;
  text-transform: uppercase;
  content: attr(data-pre) counter(captions) attr(data-post);
}

figcaption.numbered {
  counter-increment: captions;
}

figcaption h4 {
  display: inline;
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0;
/*   font-family: lato; */
  color: rgba(0,0,0,0.5);
}
